# Environment variables
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Build output
dist/
build/

# Playwright test reports
playwright-report/
# Playwright test results
Test-results/

# Playwright test reports
playwright-report/ 